<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Games_page</title>
</head>
<body>
    <header>
        <div class="navigation" id="navigation">
            <h1>Gaming Zone</h1>
            <nav class="menu">    
                <a href=''>Home</a>
                <a href=''></a>
                <a href=''>Logout</a>
            </nav>
        </div>
    </header>
    
    <main>
        <h1>What game do you want to play to?</h1>

        <div>
            <ul>
                <li>
                    <a href="">Memory Game</a>
                    <img src="/images/memory.jpeg">
                </li>

                <li>
                    <a href="">Jeux 1</a>
                    <img src="/images/mario.jpeg">
                </li>

                <li>
                    <a href="">Jeux 2</a>
                    <img src="/images/flappyBird.jpeg">
                </li>

                <li>
                    <a href="">Jeux 3</a>
                    <img src="/images/spaceInvader.jpeg">
                </li>

                <li>
                    <a href="">Jeux 4</a>
                    <img src="/images/zelda.jpeg">
                </li>
            </ul>
        </div>
    </main>
    
    <footer>
        <div id="footer">
            <p>Copyright &copy; Enter. Design by <strong>Allan, Guillaume,Marie and Martin</strong> in 2024.</p>
        </div>
    </footer>

</body>
</html>