<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>SignUp_Form</title>
</head>
<body>
    <header>
        <div class="navigation" id="navigation">
            <h1>Online Games</h1>
            <nav class="menu">    
                <a href='/'>Home</a>
                <a href='/signUp'>Sign Up</a>
                <a href='/login'>Log In</a>
            </nav>
        </div>
    </header>
    
    <main>
        <h1>Welcome !</h1>
    </main>
    
    <footer>
        <div id="footer">
            <p>Copyright &copy; Enter. Design by <strong>Allan, Guillaume,Marie and Martin</strong> in 2024.</p>
        </div>
    </footer>

</body>
</html>