<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Index</title>
</head>
<body>
    <header>
        <div class="navigation" id="navigation">
            <h1>Gaming Zone</h1>
            <nav class="menu">    
                <a href='/'>Home</a>
                <a href='/auth/register'>Sign Up</a>
                <a href='/login'>Log In</a>
            </nav>
        </div>
    </header>
    
    <main id="welcomePage" class="flex-container">
        <div class="images-container">
            <img src="/images/gaming.jpeg" alt="gaming">
        </div>

        <div class="text-container">
            <h2>Welcome to our online gaming zone !</h2>
            <p>By signing up into it, you will live an unforgettable online gaming experience! You are going to immerse yourself in a fascinating world where excitement and adventure are just a click away. Whether you're a seasoned gamer looking for new challenges or a novice eager to explore new gaming horizons, our platform offers a variety of engaging games suitable for all tastes and skill levels.</p>
            <p>If you want to relax after a long day, this online game site is the ideal place to satisfy your passion for online gaming. So, what are you waiting for? Get started now and let the adventure begin!</p>
            <div>
                <a href="/auth/register" class="startButton">Start playing</a>
            </div>
        </div>

        <div class="images-container">
            <img src="/images/gamingZone.jpeg" alt="gamingZone">
        </div>
    </main>

    <footer>
        <div id="footer">
            <p>Copyright &copy; Enter. Design by <strong>Allan, Guillaume,Marie and Martin</strong> in 2024.</p>
        </div>
    </footer>

</body>
</html>