<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>SignUp_Form</title>
</head>
<body>
    <header>
        <div class="navigation" id="navigation">
            <h1>Online Games</h1>
            <nav class="menu">    
                <a href='/'>Home</a>
                <a href='/signUp'>Sign Up</a>
                <a href='/login'>Log In</a>
            </nav>
        </div>
    </header>
    
    <main id = "welcomePage">
        <h2></h2>

        <p>
            Welcome to [Your Site Name], your ultimate destination for an unforgettable online gaming experience! 
            Immerse yourself in a fascinating world where excitement and adventure are just a click away. Whether 
            you're a seasoned gamer looking for new challenges or a novice eager to explore new gaming horizons, 
            our platform offers a variety of engaging games suitable for all tastes and skill levels.
        </p>

        <p>
            Discover a multitude of games ranging from timeless classics to the latest releases, all carefully 
            selected to offer you an incomparable gaming experience. Whether you prefer strategy games that 
            challenge your thinking, immersive role-playing games that transport you to fantastical worlds, or 
            speed games that test your skills, you're sure to find what you're looking for in our vast library of 
            entertainment.
        </p>

        <p>
            In addition, our dynamic community of passionate players awaits you to share advice, tips and moments of
            conviviality. Join us to experience hours of fun and competition in a fun and friendly atmosphere.
        </p>

        <p>
            Whether you want to play solo to relax after a long day or challenge your friends for a wild competition,
            [Name of your site] is the ideal place to satisfy your passion for online gaming. So, what are you 
            waiting for? Get started now and let the adventure begin!
        </p>  
    </main>
    
    <footer>
        <div id="footer">
            <p>Copyright &copy; Enter. Design by <strong>Allan, Guillaume,Marie and Martin</strong> in 2024.</p>
        </div>
    </footer>

</body>
</html>