<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>SignUp_Form</title>
</head>
<body>
    <header>
        <header>

        <div class="navigation" id="navigation">
            <h1>Site de jeux en ligne</h1>
            <nav class="menu">    
            <a href=''>Accueil</a>
            <a href=''>Se connecter</a>
            </nav>
        </div>
        </header>
    </header>

    <main>
        <section class="connexion">
            <article id="connexion">
                <form id="logInForm" class="logInForm" method="post">
                    <h3>Log In</h3>

                    <div class="logInForm">
                        <input type="text" id="usernameLogIn" placeholder="Your username">
                        <div id="errorUsernameLogIn"></div>
                    </div>

                    <div class="logInForm">
                        <input type="password" id="passwordLogIn" placeholder="Your password">
                        <div id="errorPasswordLogIn"></div>
                    </div>

                    <div class="logInForm">
                        <input type="submit" value="Log In">
                    </div>

                    <script src="" defer></script>
                </form>

            </article>
        </section>
    </main>
    
    <footer>
        <div id="footer">
            <p>Copyright &copy; Enter. Design by <strong>Allan, Guillaume,Marie and Martin</strong> in 2024.</p>
        </div>
    </footer>
</body>
</html>