/* Header */

header
{
    background-color: palevioletred;
    border-bottom: 5px solid black;
}

#myTitle
{
    flex-direction: row!important;
    padding-bottom: 1rem!important;
    margin-bottom: 1.5rem!important;
    align-items: center!important;
    flex-direction: column!important;
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;
    display: flex!important;
    box-sizing: border-box;
}

#div
{
    display: block;
}

#myTitle h1
{
    text-align:center;
}

/* Footer */

#footer 
{
	clear: both;
	margin: 10px;
	border-top: 5px solid black;
	background: palevioletred;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#footer p 
{
	margin: 0;
	padding: 50px 0;
	text-align: center;
	font-size: smaller;
	color: black;
}

#footer a 
{
	color: balck;
}

.btn,
.animals
{
    width:100px;
    height: 100px;
    margin:2px;
}

.container
{
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
}

#result 
{
    width: 60%;
}

#score,
#timer,
.btn 
{
    font-size: 20px;
}