<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signUpForm</title>
    <script src="./Model/functions.js" defer></script>
    <script src="./Controlors/signUpForm.js" defer></script>
</head>
<body>
    <h1>Sign Up</h1>

    <form id="signUpForm">
        <div>
            <input type="text" id="firstNameSignUp" placeholder="Your first name">
            <div id="errorNameSignUp"></div>
        </div>
        
        <div>
            <input type="text" id="lastNameSignUp" placeholder="Your last name">
            <div id="errorNameSignUp"></div>
        </div>
        
        <div>
            <input type="text" id="usernameSignUp" placeholder="Your username">
            <div id="errorNameSignUp"></div>
        </div>

        <div>
            <input type="text" id="mailSignUp" placeholder="Your email address">
            <div id="errorMailSignUp"></div>
        </div>
        
        <div>
            <label for="birthDateSignUp">Your date of birth</label>
            <input type="date" id="birthDateSignUp">
            <div id="errorBirthDateSignUp"></div>
        </div>

        <div>
            <input type="password" id="passwordSignUp" placeholder="Your password">
            <div id="errorPwdSignUp"></div>
        </div>

        <div>
            <input type="password" id="passwordConfirmedSignUp" placeholder="Confirm your password">
            <div id="errorPwdSignUp"></div>
        </div>
    
        <div>
            <input type="submit" id="signUp" value="Sign Up">
        </div>
    </form>
</body>
</html>